/* Import TailwindCSS framework */
@import "tailwindcss";

/* Apply styles to html and body */
html, body {
  /* Set dark background color */
  background-color: black;

  /* Enable smooth scrolling for anchor links */
  scroll-behavior: smooth;
}

.maxheight {
  max-height:115%;
  max-weight:90%;
}